<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee Filter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link lead fw-bold" href="#"><span><i class="pi pi-user"></i> </span>Welcome {{ userDetails.name }}</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" style="margin-right: 1%">
        <p-button icon="pi pi-power-off" label="LogOut" styleClass="p-button-danger p-button-text p-button-rounded" (click)="logout()"></p-button>
    </div>
  </div>
</nav>
