<p-toast></p-toast>
<p-table #dt1 [value]="users" styleClass="p-datatable-gridlines p-datatable-striped"
         [tableStyle]="{ 'min-width': '60rem' }"
         [paginator]="true"
         [rows]="5"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [rowsPerPageOptions]="[10, 25, 50]"
         editMode="row"
         dataKey="id"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Employees

      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
      <p-button icon="pi pi-refresh" (click)="ngOnInit()"></p-button>

    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex align-items-center">
          Edit
        </div>
      </th>
      <th pSortableColumn="code" style="width:20%">
        <div class="flex align-items-center">
          EmployeeCode
          <p-sortIcon field="code"></p-sortIcon>
          <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="name" style="width:20%">
        <div class="flex align-items-center">
          EmployeeName
          <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="birthDate" style="width:20%">
        <div class="flex align-items-center">
          BirthDate
          <p-sortIcon field="birthDate"></p-sortIcon>
          <p-columnFilter type="date" field="birthDate" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="birthCity" style="width:20%">
        <div class="flex align-items-center">
          BirthCity
          <p-sortIcon field="birthCity"></p-sortIcon>
          <p-columnFilter type="text" field="birthCity" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="id" style="width:20%">
        <div class="flex align-items-center">
          EmployeeID
          <p-sortIcon field="id"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="department.name" style="width:20%">
        <div class="flex align-items-center">
          Department
          <p-sortIcon field="department.name"></p-sortIcon>
          <p-columnFilter field="department" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Department Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="departments" placeholder="Select"
                             (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-departement pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ departement.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="jobTitle" style="width:20%">
        <div class="flex align-items-center">
          JobTitle
          <p-sortIcon field="jobTitle"></p-sortIcon>
          <p-columnFilter type="text" field="jobTitle" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex align-items-center">
          DirectManager
          <p-columnFilter field="directManager" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">directManager Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="managers" placeholder="Select"
                             (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-manager pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ manager.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="contractsTypes.name" style="width:20%">
        <div class="flex align-items-center">
          ContractType
<!--          <p-sortIcon field="contractsTypes.name"></p-sortIcon>-->
          <p-columnFilter field="contractsTypes" matchMode="in" display="menu" [showMatchModes]="false"
                          [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">ContractType Picker</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="contractTypes" placeholder="Select"
                             (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-contractType pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ contractType.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="user">
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </div>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.code">
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.code }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.name">
          </ng-template>
          <ng-template pTemplate="output">
            {{user.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ user.birthDate | date }}</td>
      <td>{{ user.birthCity }}</td>
      <td>{{ user.id }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="departments"
              appendTo="body"
              [(ngModel)]="user.department"
              [style]="{'width':'100%'}"
              optionLabel="name"
            ></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.department.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.jobTitle">
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.jobTitle }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="managers"
              appendTo="body"
              [(ngModel)]="user.directManager"
              [style]="{'width':'100%'}"
              optionLabel="name"
            ></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ (user.directManager) ? user.directManager.name : "" }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="contractTypes"
              appendTo="body"
              [(ngModel)]="user.contractsTypes"
              [style]="{'width':'100%'}"
              optionLabel="name"
            ></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.contractsTypes.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td *ngIf="user.status"><span><i class="pi pi-check fw-bold" style="color: greenyellow"></i></span> </td>
      <td *ngIf="!user.status"><span><i class="pi pi-times fw-bold" style="color: red"></i></span> </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"
              (click)="_router.navigate(['/employee/add'])"></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{users ? users.length : 0 }} Employes.
    </div>
  </ng-template>
</p-table>
